<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>just css</title>
    <link rel="stylesheet" href="magazine.css" />
  </head>
  <body>
    <div class="side">
      <header>
        <span class="address">ife.baidu.com</span>
        <span class="date">2022.03</span>
      </header>
      <main>
        <div class="half-top">
          <div class="img1">
            <img src="img1.jpg" alt="img1" />
          </div>

          <div class="aboutBorder">
            <div class="about">
              <h1>ABOUT</h1>
              <h1>TECHNOLOGE</h1>
              <div>about technologe about technologe about technologe</div>
              <div class="seven">700</div>
              <div class="three">3.2</div>
              <div class="css">
                <span>css</span>
                <br />
                csscsscsscsscsscss
              </div>
            </div>
          </div>

          <div class="what">
            <h2>What</h2>
            <p>
              前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端
            </p>
          </div>

          <div class="when">
            <h2>When</h2>
            <p>
              前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端
            </p>
          </div>

          <div class="how">
            <h2>How</h2>
            <p>
              前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端
            </p>
            <ul>
              <li>What ------ <span>40%</span></li>
              <li>What ------ <span>30%</span></li>
              <li>What ------ <span>30%</span></li>
            </ul>
          </div>
        </div>

        <!-------------half-bottom-------------->

        <div class="half-bottom">
          <div class="firstPart">
            <div class="the">
              <span>THE</span> TECHNOLOGE <br />
              OF FRONT
              <br />
              前端技术领域
            </div>

            <div class="qian">
              <p>
                前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端端前端
                <div class="img3">
                <img src="img3.jpg" alt="fuck" />
                </div>
                前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端
              </p>
              

              <p>
                前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端
                前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端
                前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端
                前端前端前端前端前前端前端前端前端前前

              </p>
            </div>
          </div>
          <div class="secondPart">
            <div class="slideshow">
              <div>
                <span>前端技术</span>
                <span>前端技术前端技术</span>
              </div>
            </div>

            <div class="final">
              <div class="list">
                <ul>
                  <li>前端前端前端前端前端前端..................前端</li>
                  <li>前端前端前端前端..................................前端</li>
                  <li>前端前端前端端前端前前端..................前端</li>
                </ul>
              </div>

              <div class="sao0">
                <div>0</div>
                <div>
                  ONE TWO
                  <br />
                  THREE FOUR FIVE
                  <div>hello world hello world hello world</div>
                  
                </div>
              </div>

              <div class="helloworld">
                <span>“</span>
                <p>hello world hello world hello world hello world hello world
                hello world hello world hello world hello world <span>”</span>
              </p>
                
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer></footer>
    </div>
  </body>
</html>
