html {
  font: bold 24px/1.4 "Open Sans", arial, sans-serif;
  background-color: black;
}

ul {
  list-style: none;
  width: 70%;
  margin: 140px auto 0;
  display: flex;
  justify-content: center;
  padding: 0;
}

li {
  margin: 0 20px;
}

a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  padding-bottom: 3px;
}

a::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  left: 50%;
  width: 0;
  background-color: white;
  transition: all 0.3s ease;
}

li:hover a::after {
  left: 0;
  width: 100%;
}
